body {
    color: #61443e;
    font-family:Monospace;
    font-size:13px;
    text-align:center;

    background-color: #aaccff;
    margin: 0px;
    overflow: hidden;
}
a {

    color: yellow;
}
#oldie {
    background:rgb(0,0,50) !important;
    color:#fff !important;
}
button{
    background-color: white;
    color: black;
    font-size: 30px;
    margin-top: 40px;
    width: 200px;
    height: 60px;
}
button:hover{
    background-color: red;
}
#score{
    color: #ffffff;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 5px;
    font-size: 30px;
}
#displayScore{
    background-color: #545055;
    border: 4px black;
    color: white;
    position: fixed;
    top: 150px;
    right: 400px;
    width: 400px;
    height: 150px;
    padding: 100px 50px 50px 50px;
    font-size: 32px;
    visibility: hidden;
    opacity: 0.7;
}
#asteroids{
    color: yellow;
    position: fixed;
    top: 0px;
    right: 100px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}
#level{
    color: white;
    font-size: 128px;
    position: fixed;
    top: 150px;
    right: 400px;
    opacity: 0.6;
    font-family: "Arial Black", Gadget, sans-serif;
}
#caption{
    color: white;
    font-size: 32px;
    position: fixed;
    top: 300px;
    right: 480px;
    opacity: 0.8;
    font-family: "Arial Black", Gadget, sans-serif;
}
#powerUp{
    color: yellow;
    position: fixed;
    top: 0;
    right: 10px;
    opacity: 0.6;
    font-family: "Arial Black", Gadget, sans-serif;
}
#shots{
    color: #00ff00;
    position: fixed;
    top: 0px;
    left: 70px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}
